frontend/node_modules/
frontend/.cache/
frontend/yarn.lock
frontend/build/
.vscode/

config.toml
node_modules
listmonk
dist/*
config-cockroach.toml
config-local.toml
config-mogenius.toml
cockroach-v22.2.3.linux-amd64/cockroach
cockroach-v22.2.3.linux-amd64/lib/libgeos_c.so
cockroach-v22.2.3.linux-amd64/lib/libgeos.so
kubekey
*-kube.config
hcf/_sensitive_datas/_sensitive_datas.tar.xz
hcf/proxy/launch-worker
hcf/proxy/publish-worker
